:root {
  --yellow-color: #d9b311;
  --light-blue: #0080a7;
  --medium-color: #ccc;
  --dark-blue: #00111e;
}
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Rubik", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* navbar css start */
.header_area {
  background: #333 url("../assets/img/header-images/ruben123-hero-img_02.jpg")
    no-repeat center/cover;
  height: 95vh;
  margin: 0;
  z-index: 1;
  position: relative;
  margin-bottom: 2rem;
}
.header_area .logo {
  width: 70px;
  height: 70px;
}
.navbar .nav-links a {
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  transition: border-color 1s;
}
.navbar .nav-links a:hover {
  border-color: var(--light-blue);
}
.navbar .nav-links .active {
  border-color: var(--yellow-color);
}

.mobile_menu {
  width: 70px;
  height: 70px;
  background-color: var(--light-blue);
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  transition: all 0.7s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile_menu.active {
  width: 350px;
  height: 450px;
  border-radius: 10px !important;
  display: block !important;
}
.mobile_menu.active .fa-bars {
  display: none !important;
}
.mobile_menu .fa-bars {
  display: flex !important;
}
.mobile_menu.active .fa-times {
  display: flex !important;
}
.mobile_menu.active i {
  padding: 20px;
  text-align: end;
}
.mobile_menu.active .icon {
  text-align: end;
}
.mobile_menu .menu_list {
  display: none;
}
.mobile_menu.active .menu_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-top: 50px;
  transition: all 1.5s ease-in-out !important;
}
.mobile_menu.active .menu_list li {
  padding: 10px 0px;
  font-size: 20px;
  transition: all 0.5s ease;
}
.mobile_menu.active .menu_list li a {
  color: white;
}
.mobile_menu.active .menu_list li a:hover {
  color: cyan;
}
/* navbar css end */

/* hero css start */
.hero_area {
  margin-top: 2rem;
}
.hero_area h1 {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  font-weight: 900;
  text-transform: uppercase;
}
.hero_area h2 {
  font-size: 1.8rem;
  display: block;
  padding-bottom: 0.5rem;
  font-weight: 900;
  text-transform: uppercase;
}
.hero_area .img_desktop {
  width: 1200px;
  margin-top: -5rem;
  margin-bottom: -4rem;
}
.hero_area .img_mobile {
  margin-top: -2rem;
  margin-bottom: -1rem;
  width: 475px !important;
  z-index: 0;
}
.header_area .work_button {
  width: 180px;
  height: 50px;
  color: white;
  background-color: rgba(0, 95, 86, 0.3);
  border: 2px solid white;
  border-radius: 10px;
  padding: 0.8rem 2rem;
  transition: all 0.5s ease;
}
.header_area .work_button:hover {
  background-color: var(--yellow-color);
}
#particles-js {
  position: relative;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 1 !important;
}

/* hero css end */

/* about css start */
.about_section {
  margin-top: 70px;
}
.about_me h2 {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  font-weight: 900;
  color: var(--light-blue);
}
.about_me p {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.social-icons {
  font-size: 2rem;
}
.social-icons a {
  padding-right: 1rem;
  transition: all 0.3s;
}
.social-icons a:hover {
  transform: translateY(-5px);
  color: var(--yellow-color);
}
.about_img img {
  width: 80%;
  height: 80%;
}
/* about css end */

/* news section css start */
.news_section {
  background: #0080a7;
  margin-top: 70px;
}
.news_section::before {
  position: absolute;
  top: 0;
  transform: skewY(-3deg);
  transform-origin: 0 100%;
}
.news_section::after {
  bottom: 0;
  transform: skewY(3deg);
  transform-origin: 0 100%;
}

.news_section:before,
.news_section:after {
  background: inherit;
  content: "";
  display: block;
  height: 35%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  padding-bottom: 2rem;
}

.news_section h2 {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  font-weight: 900;
  text-align: center;
  color: white;
}
.news_content p {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.youtube_video {
  margin-bottom: 6rem;
}

/* news section css end */

/* capabilities css start */
.capabilities_section {
  background-color: #00111e;
  z-index: 9;
}
.capabilities_section:before,
.capabilities_section:after {
  background: inherit;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  padding-bottom: 2rem;
}
.capabilities_section::before {
  position: absolute;
  top: 0;
  transform: skewY(-3deg);
  transform-origin: 0 100%;
}
.capabilities_section::after {
  position: absolute;
  bottom: 0;
  transform: skewY(3deg);
  transform-origin: 0 100%;
}
.capabilities_section h2 {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  color: white;
}
.capabilities_section p {
  font-size: 1rem;
}
.capabilities_card {
  text-align: center;
}
.capabilities_card .content img {
  height: 12rem;
  margin: auto;
  width: auto;
  display: block;
  object-fit: contain;
  opacity: 0.4;
  transition: 0.75s;
}
.capabilities_card .content h3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  padding-top: 4rem;
}
.capabilities_card:hover .content img {
  opacity: 1;
}
.capabilities_card .content .text-animation {
  transition-duration: 0.75s;
}
.capabilities_card:hover .content .text-animation {
  transform: translateY(-2rem);
}
/* capabilities css end */

/* skills section css start */
.skills_section {
  background-color: #0080a7;
  margin-top: 66px;
  margin-bottom: 5rem;
}
.skills_section:before,
.skills_section:after {
  background: inherit;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
}
.skills_section:before {
  top: 0;
  transform: skewY(3deg);
  transform-origin: 100% 0;
}
.skills_section:after {
  bottom: 0;
  transform: skewY(3deg);
  transform-origin: 0 100%;
}
.skills_section .skill-item {
  font-size: 1rem;
}
/* skills section css end */

/* portfolio section css start */
.portfolio_section .filters ul {
  padding: 20px 0;
}
.portfolio_section .filters ul li {
  display: inline;
  padding: 10px 25px;
  font-size: 14px;
  color: #636363;
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.portfolio_section .filters ul li:hover {
  color: #a6a6a6;
}
.portfolio_section .filters ul li.active {
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.portfolio_section .modal-dialog {
  max-width: 700px !important;
  width: 100%;
}

.portfolio_section .single-content {
  background: white;
  border: 1px solid #e8e8e8;
  overflow: hidden;
  border-radius: 10px;
  width: 290px;
  height: 350px;
}
.portfolio_section .content .single-content img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  transition: transform 0.5s ease;
}
.portfolio_section .single-content:hover img {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  opacity: 0.5;
}
.grid {
  position: relative;
}

.grid-item {
  margin-bottom: 20px; /* Adds vertical spacing between rows */
}
.portfolio_section .modal-body h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--light-blue);
}
.portfolio_section .modal-body p {
  font-size: 1rem;
  color: #333;
}
.portfolio_section .modal-body img {
  width: 100%;
  object-fit: cover;
}

.common_btn {
  background-color: var(--light-blue);
  color: white;
  padding: 10px 25px;
  border-radius: 6px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s ease, box-shadow 0.3s ease;
}
.common_btn:hover {
  transform: scale(1.1);
  background-color: #0985ba;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
/* portfolio section css end */

/* footer section css start */
.footer_area {
  background-color: #00111e;
  color: white;
  margin-top: 70px;
}
.footer_area::before {
  position: absolute;
  top: 0;
  transform: skewY(-3deg);
  transform-origin: 0 100%;
}

.footer_area:before {
  background: inherit;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  padding-bottom: 2rem;
}

.footer_area .contact_info {
  padding: 70px;
}
.footer_area .contact_info h3 {
  font-size: 2.25rem;
  display: block;
  padding-bottom: 0.5rem;
  font-weight: 900;
  text-align: center;
  color: white;
}
.footer_area .contact_info p,
span {
  font-size: 1.25rem;
  padding: 5px 0px;
  margin: 0;
}
/* footer section css end */
